__pycache__
.venv
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist
build
*.log
*.pdf
*.txt
.DS_Store

# Latex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
